Body {
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    
}

H1 { 
    font-size: xx-large;
    margin-bottom: 20px;
}

.cfg_box {
    border: 1px solid #006666;
    margin-bottom: 20px;
    width: 100%;
    height: 150px;
}

.cfg_box h2 {
    background-color: #006666;
    color: #ffffff;
    text-align: center;
    padding: 5px;
}

.content_box {
    padding: 10px;
}

.state_box {
    border: 1px solid #0066FF;
    margin-bottom: 20px;
    width: 100%;
    height: 150px;
}

.state_box h2 {
    background-color: #0066FF;
    color: #ffffff;
    text-align: center;
    padding: 5px;
}
    
#StateName {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: bolder;
}

.btn_box {
    border: 1px solid #999999;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 245px;
}

.btn_box h2 {
    background-color: #999999;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

.btn_box p {
    padding: 10px;
}

.btn_box button {
    font-size: large;
    width: 150px;
    margin: 25px;
}

.btn_box input {
    font-size: large;
}

.replacement_box {
    border: 1px solid #9999FF;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 450px;
}

.replacement_box h2 {
    background-color: #9999FF;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

.replacement_box.box_ta {
    width: 200px;
    height: 500px;
}

.tap {
    float: left;
    vertical-align: baseline ;
}

.xspace {
    margin-bottom: 10px;
}

.pad_top {
    padding-top: 20px;
}

.pad_bottom {
    padding-bottom: 20px;
}

.pad_right {
    padding-right: 20px;
}

.pad_left {
    padding-left: 20px;
}

.units {
    margin-left: 5px;
    font-size: x-small;
}

.Start {
    background-color:#b3b2b2;
}

.Capture {
    background-color: #5aab5f;
}

.Ad {
    background-color: #d8f836;
}

.Replace {
    background-color: #ecac45;
}

button.button  {
    font-family: "Arial", "Helvetica", sans;
    font-size: 14px;
    width: 175px;
}

#RemainContain {
    visibility: hidden;
}

/* Debug Stuff */
#test_container {
    display: none;
}

.pane {
    width: 266px;
    float:left;
}

